#central-section {
    position: relative;
    min-height: 100%;
    width: 100%;
}
#main-content {
    position: relative;
    width: calc(100% - var(--sidebarSizeActive));
    left: var(--sidebarSizeActive);
    transition: 0.5s ease-in-out;
    color: red;
}



/*sidebar-component.active ~ #main-content {*/
/*    width: calc(100% - 240px);*/
/*    left: 240px;*/
/*}*/