nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0; left: 0;
    width: 85%;
    padding: 0 1rem;
    min-height: var(--navbarSize);
    transform: translate(calc(50vw - 50%));
    background-color: var(--first-color);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    z-index: 100;
    transition: 0.4s;
}

nav a, nav a:hover {
    transition: 0.5s ease-in-out;
}

nav a {
    color: var(--third-color);
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

nav a:hover {
    color: var(--fourth-color);
}

nav #menu-nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1rem 1.5rem;

}

nav #menu-nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--fourth-color);
    position: absolute;
    left: -3%;
    bottom: -0.8rem;
    transition: 0.4s linear;
}

nav #menu-nav ul li a:hover::after {
    width: 103%;
}

nav #menu-nav ul li a[active]{
    color: var(--fourth-color);
    font-weight: 600;
}
