/* Google Font Poppins import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --bgColor: #f7f7f7;
    --sidebarBGColor: #040b14;
    --stickynavBGColor: #fff;
    /*--textColor: #525252;*/
    --textColor: #fff;
    --themeColor: #00a78e;
    --iconColor: #2c2f3f;

    --stickynavSize: 5rem;
    --sidebarSizeActive: 25rem;
    --sidebarSizeDeactive: 0rem;
    --footerSize: 10rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;   /* 10px */
}

body {
    position: relative;
    min-height: 100vh;
    width:100%;
    background-color: var(--bgColor);
}


