header#slideshow-container {
    width: calc(100% - 10rem);
    transform: translate(calc(50vw - 50%));
    height: 30rem;
    position: relative;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.6);
}

#slideshow-container #slideshow-mask {
    position: relative;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(black 85%, transparent 115%);
}

#slideshow-container .mySlides {
    width: 100%;
    height: 100%;
    display: none;
}

#slideshow-container .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 75%;
    opacity: .8;
}

#slideshow-container #prev, #slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 3rem);
    width: auto;
    padding: 0.6rem;
    margin: 0.6rem;
    color: var(--third-color);
    background-color: var(--first-color);
    opacity: 0.9;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}

#slideshow-container .next {
    right: 0;
}

#slideshow-container .prev:hover, #slideshow-container .next:hover {
    background-color: var(--fourth-color);
    opacity: 1;
    color: #ededed;
}

#slideshow-container .text {
    position: absolute;
    width: auto;
    background: var(--third-color);
    left: 49.5%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    bottom: 1rem;
    font-size: 1.5rem;
    color: var(--fourth-color);
    font-weight: 600;
    padding: 1px 12px;
}

#dot-nav, #slideshow-container .text {
    text-align: center;
}

#dot-nav{
    position: relative;
    z-index: 999;
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 10px 2px;
    background-color: var(--third-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--fourth-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.word {
    margin: auto;
    color: var(--first-color);
    font-weight: 700;
    letter-spacing: 0.3rem;
}

#fav-slider {
    position: absolute;
    bottom: 0;
    right: 5rem;
    font-size: 4rem;
    color: #ededed;
    cursor: pointer;
    transition: .5s ease-in-out;
}

#fav-slider:hover {
    color: var(--fourth-color) !important;
    transition: .5s ease-in-out;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}